.comment-wrap {
    width: 700px;
    margin-top: 30px;
    border: 1px solid #c1c1c1;
    border-radius: 8px;
    padding: 30px;
}

.comment-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

#comment-table .comment-row:not(:first-child) {
    border-top: 1px solid #c1c1c1;
}

.comment-date {
    font-size: 13px;
    font-weight: lighter;
    min-width: 130px;
}

#comment-input-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px;
}

/* custom-input-text */

.custom-input-text {
    position: relative;
    width: 82%;
    margin-top: 30px;
    margin-right: 30px;
}

.custom-input-text input {
    font-size: 15px;
    color: #222222;
    width: 100%;
    border: none;
    border-bottom: solid #aaaaaa 1px;
    padding-bottom: 10px;
    padding-left: 10px;
    position: relative;
    background: none;
    z-index: 5;
}

.custom-input-text input::placeholder {
    color: #aaaaaa;
}

.custom-input-text input:focus {
    outline: none;
}

.custom-input-text span {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0%;
    background-color: #666;
    width: 0;
    height: 2px;
    border-radius: 2px;
    transition: 0.5s;
}

.custom-input-text label {
    position: absolute;
    color: #aaa;
    left: 10px;
    font-size: 20px;
    bottom: 8px;
    transition: all .2s;
}

.custom-input-text input:focus~label,
.custom-input-text input:valid~label {
    font-size: 16px;
    bottom: 40px;
    color: #666;
    font-weight: bold;
}

.custom-input-text input:focus~span,
.custom-input-text input:valid~span {
    width: 102.3%;
}

/* button css */

#comment-input-wrap button {
    margin: 0;
    padding: 0.5rem 1rem;

    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    text-decoration: none;

    display: inline-block;
    width: auto;

    border: none;
    border-radius: 4px;

    box-shadow: 0 1px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    cursor: pointer;
    transition: 0.5s;
    opacity: 0.4;
}

#comment-input-wrap button:active,
#comment-input-wrap button:hover,
#comment-input-wrap button:focus {
    opacity: 1.0;
    outline: 0;
}