.main {
    margin: 0px auto 0px auto;
    max-width: 800px;
}
.sparta {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sparta img{
    width: 350px;
    margin-right: 120px;
}
.sparta h1{
    line-height: 100%;
}
.custom-accordion {
    margin-top: 30px;
}

.custom-accordion-title {
    border: 1px solid #c1c1c1;
    border-radius: 8px;
    width: 100%;
    padding: 20px;
    font-size: 24px;
}

.custom-accordion-contents {
    border: 1px solid #c1c1c1;
    border-radius: 8px;
    width: 100%;
    padding: 20px;
    font-size: 16px;
}
