@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Nanum+Myeongjo&display=swap');

* {
    font-family: 'Gowun Dodum', sans-serif;
}

body {
    margin: 0px;
}

header {
    height: 80px;

    background-color: #ff4d4d;
    color: white;

    position: sticky;
    padding-top: 30px;
    top: -30px;
    opacity: 0.90;

    font-size: 1.4em;
}

header a:link {
    color: white;
    text-decoration: none
}

header a:visited {
    color: white;
    text-decoration: none
}

header a:hover {
    text-decoration: none
}

header a:active {
    color: white;
    text-decoration: none
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 20px;
}

.logo {
    width: 40px;
    border-radius: 8px;
    margin: 0px 20px 0px 20px;
    margin-right: 10px;
}

.nav-item-active {
    text-decoration: underline;
    text-underline-offset: 10px;
}

.nav-item {
    margin: 0px 10px 0px 10px;
}

/* footer */
footer {
    margin-top: 30px;
    background-color: #e4e4e4;
    padding: 20px 40px 20px 40px;
    font-size: 14px;
    line-height: 80%;
    color: #919191;
}
